.dart_tool/package_config.json
.dart_tool/chrome-device/Default/Affiliation Database
.dart_tool/chrome-device/Default/Affiliation Database-journal
.dart_tool/chrome-device/Default/Favicons
.dart_tool/chrome-device/Default/Favicons-journal
.dart_tool/chrome-device/Default/heavy_ad_intervention_opt_out.db
.dart_tool/chrome-device/Default/heavy_ad_intervention_opt_out.db-journal
.dart_tool/chrome-device/Default/History
.dart_tool/chrome-device/Default/History-journal
.dart_tool/chrome-device/Default/LOCK
.dart_tool/chrome-device/Default/LOG
.dart_tool/chrome-device/Default/Login Data
.dart_tool/chrome-device/Default/Login Data For Account
.dart_tool/chrome-device/Default/Login Data For Account-journal
.dart_tool/chrome-device/Default/Login Data-journal
.dart_tool/chrome-device/Default/Network Action Predictor
.dart_tool/chrome-device/Default/Network Action Predictor-journal
.dart_tool/chrome-device/Default/Preferences
.dart_tool/chrome-device/Default/PreferredApps
.dart_tool/chrome-device/Default/QuotaManager
.dart_tool/chrome-device/Default/QuotaManager-journal
.dart_tool/chrome-device/Default/README
.dart_tool/chrome-device/Default/Secure Preferences
.dart_tool/chrome-device/Default/Shortcuts
.dart_tool/chrome-device/Default/Shortcuts-journal
.dart_tool/chrome-device/Default/Top Sites
.dart_tool/chrome-device/Default/Top Sites-journal
.dart_tool/chrome-device/Default/Trusted Vault
.dart_tool/chrome-device/Default/Visited Links
.dart_tool/chrome-device/Default/Web Data
.dart_tool/chrome-device/Default/Web Data-journal
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOCK
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOG
.dart_tool/chrome-device/Default/BudgetDatabase/LOCK
.dart_tool/chrome-device/Default/BudgetDatabase/LOG
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOCK
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOG
.dart_tool/chrome-device/Default/Extension Scripts/000003.log
.dart_tool/chrome-device/Default/Extension Scripts/CURRENT
.dart_tool/chrome-device/Default/Extension Scripts/LOCK
.dart_tool/chrome-device/Default/Extension Scripts/LOG
.dart_tool/chrome-device/Default/Extension Scripts/MANIFEST-000001
.dart_tool/chrome-device/Default/Extension State/000003.log
.dart_tool/chrome-device/Default/Extension State/CURRENT
.dart_tool/chrome-device/Default/Extension State/LOCK
.dart_tool/chrome-device/Default/Extension State/LOG
.dart_tool/chrome-device/Default/Extension State/MANIFEST-000001
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOG
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOCK
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOG
.dart_tool/chrome-device/Default/GCM Store/Encryption/000003.log
.dart_tool/chrome-device/Default/GCM Store/Encryption/CURRENT
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOCK
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG
.dart_tool/chrome-device/Default/GCM Store/Encryption/MANIFEST-000001
.dart_tool/chrome-device/Default/IndexedDB/http_localhost_62926.indexeddb.leveldb/000004.log
.dart_tool/chrome-device/Default/IndexedDB/http_localhost_62926.indexeddb.leveldb/000005.ldb
.dart_tool/chrome-device/Default/IndexedDB/http_localhost_62926.indexeddb.leveldb/CURRENT
.dart_tool/chrome-device/Default/IndexedDB/http_localhost_62926.indexeddb.leveldb/LOCK
.dart_tool/chrome-device/Default/IndexedDB/http_localhost_62926.indexeddb.leveldb/LOG
.dart_tool/chrome-device/Default/IndexedDB/http_localhost_62926.indexeddb.leveldb/LOG.old
.dart_tool/chrome-device/Default/IndexedDB/http_localhost_62926.indexeddb.leveldb/MANIFEST-000001
.dart_tool/chrome-device/Default/Local Storage/leveldb/000003.log
.dart_tool/chrome-device/Default/Local Storage/leveldb/CURRENT
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOCK
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOG
.dart_tool/chrome-device/Default/Local Storage/leveldb/MANIFEST-000001
.dart_tool/chrome-device/Default/Network/Cookies
.dart_tool/chrome-device/Default/Network/Cookies-journal
.dart_tool/chrome-device/Default/Network/Network Persistent State
.dart_tool/chrome-device/Default/Network/NetworkDataMigrated
.dart_tool/chrome-device/Default/Network/Reporting and NEL
.dart_tool/chrome-device/Default/Network/Reporting and NEL-journal
.dart_tool/chrome-device/Default/Network/TransportSecurity
.dart_tool/chrome-device/Default/Safe Browsing Network/NetworkDataMigrated
.dart_tool/chrome-device/Default/Safe Browsing Network/Safe Browsing Cookies
.dart_tool/chrome-device/Default/Safe Browsing Network/Safe Browsing Cookies-journal
.dart_tool/chrome-device/Default/Service Worker/Database/000003.log
.dart_tool/chrome-device/Default/Service Worker/Database/CURRENT
.dart_tool/chrome-device/Default/Service Worker/Database/LOCK
.dart_tool/chrome-device/Default/Service Worker/Database/LOG
.dart_tool/chrome-device/Default/Service Worker/Database/MANIFEST-000001
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_1
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/4cb013792b196a35_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/index
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/index-dir/the-real-index
.dart_tool/chrome-device/Default/Session Storage/000003.log
.dart_tool/chrome-device/Default/Session Storage/CURRENT
.dart_tool/chrome-device/Default/Session Storage/LOCK
.dart_tool/chrome-device/Default/Session Storage/LOG
.dart_tool/chrome-device/Default/Session Storage/MANIFEST-000001
.dart_tool/chrome-device/Default/Sessions/Session_13291274296683596
.dart_tool/chrome-device/Default/Sessions/Tabs_13291277193559414
.dart_tool/chrome-device/Default/Site Characteristics Database/000003.log
.dart_tool/chrome-device/Default/Site Characteristics Database/CURRENT
.dart_tool/chrome-device/Default/Site Characteristics Database/LOCK
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG
.dart_tool/chrome-device/Default/Site Characteristics Database/MANIFEST-000001
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Code Cache/js/index
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Code Cache/js/index-dir/the-real-index
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Code Cache/wasm/index
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Code Cache/wasm/index-dir/the-real-index
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/GPUCache/data_0
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/GPUCache/data_1
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/GPUCache/data_2
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/GPUCache/data_3
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/GPUCache/index
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Local Storage/leveldb/000003.log
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Local Storage/leveldb/CURRENT
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Local Storage/leveldb/LOCK
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Local Storage/leveldb/LOG
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Local Storage/leveldb/MANIFEST-000001
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Network/Network Persistent State
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Network/NetworkDataMigrated
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Session Storage/000003.log
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Session Storage/CURRENT
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Session Storage/LOCK
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Session Storage/LOG
.dart_tool/chrome-device/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/Session Storage/MANIFEST-000001
.dart_tool/chrome-device/Default/Sync Data/LevelDB/000003.log
.dart_tool/chrome-device/Default/Sync Data/LevelDB/CURRENT
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOCK
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOG
.dart_tool/chrome-device/Default/Sync Data/LevelDB/MANIFEST-000001
.dart_tool/chrome-device/Default/coupon_db/LOCK
.dart_tool/chrome-device/Default/coupon_db/LOG
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/000003.log
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/CURRENT
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/LOCK
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/LOG
.dart_tool/chrome-device/Default/data_reduction_proxy_leveldb/MANIFEST-000002
.dart_tool/chrome-device/Default/databases/Databases.db
.dart_tool/chrome-device/Default/databases/Databases.db-journal
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOCK
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOG
.dart_tool/chrome-device/Default/optimization_guide_model_and_features_store/LOCK
.dart_tool/chrome-device/Default/optimization_guide_model_and_features_store/LOG
.dart_tool/chrome-device/Default/shared_proto_db/000003.log
.dart_tool/chrome-device/Default/shared_proto_db/CURRENT
.dart_tool/chrome-device/Default/shared_proto_db/LOCK
.dart_tool/chrome-device/Default/shared_proto_db/LOG
.dart_tool/chrome-device/Default/shared_proto_db/MANIFEST-000001
.dart_tool/chrome-device/Default/shared_proto_db/metadata/000003.log
.dart_tool/chrome-device/Default/shared_proto_db/metadata/CURRENT
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOCK
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOG
.dart_tool/chrome-device/Default/shared_proto_db/metadata/MANIFEST-000001
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/.filecache
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/app.dill
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/app.dill.deps
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/dart2js.d
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/dart2js.stamp
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/flutter_assets.d
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/gen_localizations.stamp
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/main.dart
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/main.dart.js
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/main.dart.js.deps
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/outputs.json
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/service_worker.d
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/web_entrypoint.stamp
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/web_release_bundle.stamp
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/web_resources.d
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/web_service_worker.stamp
.dart_tool/flutter_build/282420b11dbb01df4ed9307d1f283f78/web_static_assets.stamp
build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
build/cffb835b3a24a4cb5549773ac83fa18c/_composite.stamp
build/cffb835b3a24a4cb5549773ac83fa18c/gen_dart_plugin_registrant.stamp
build/cffb835b3a24a4cb5549773ac83fa18c/gen_localizations.stamp
build/flutter_assets/AssetManifest.json
build/flutter_assets/assets/aidgranticon.webp
build/web/.last_build_id
build/web/add_adun.dart
build/web/add_agency.dart
build/web/add_ngo.dart
build/web/add_post.dart
build/web/add_rebuild.dart
build/web/add_service.dart
build/web/edit_post.dart
build/web/favicon.png
build/web/flutter_service_worker.js
build/web/home.dart
build/web/index.html
build/web/main.dart.js
build/web/manifest.json
build/web/version.json
build/web/assets/AssetManifest.json
build/web/assets/FontManifest.json
build/web/assets/NOTICES
build/web/assets/assets/2.png
build/web/assets/assets/3.png
build/web/assets/assets/aa.png
build/web/assets/assets/adun.png
build/web/assets/assets/aid.png
build/web/assets/assets/architect.png
build/web/assets/assets/bina.png
build/web/assets/assets/blueDot.png
build/web/assets/assets/crowdfunding.png
build/web/assets/assets/dam.jpeg
build/web/assets/assets/emergency.png
build/web/assets/assets/feedback.png
build/web/assets/assets/flood.png
build/web/assets/assets/flood%202.png
build/web/assets/assets/floodarea.png
build/web/assets/assets/FloodIcon.png
build/web/assets/assets/floodMarker.png
build/web/assets/assets/floodMarker%20(1).png
build/web/assets/assets/floodrelief.png
build/web/assets/assets/healthcare.png
build/web/assets/assets/logo%20option%20eclipse%20(1).png
build/web/assets/assets/logo%20option%20square%20(1).jpg
build/web/assets/assets/logo%20option%20square%20transparent%20(1).png
build/web/assets/assets/malasian%20flood.png
build/web/assets/assets/man.png
build/web/assets/assets/man%20(1).png
build/web/assets/assets/man%20(2).png
build/web/assets/assets/network.png
build/web/assets/assets/ngologo.png
build/web/assets/assets/physical-abuse.png
build/web/assets/assets/play.jpeg
build/web/assets/assets/play.jpg
build/web/assets/assets/play.png
build/web/assets/assets/police.png
build/web/assets/assets/policeman.png
build/web/assets/assets/politician.png
build/web/assets/assets/pond.png
build/web/assets/assets/PondIcon.png
build/web/assets/assets/poor.png
build/web/assets/assets/Rebuild.png
build/web/assets/assets/red_wavy_with_halftone_background.jpg
build/web/assets/assets/reserve.png
build/web/assets/assets/ReserveIcon.png
build/web/assets/assets/reserveMArker.png
build/web/assets/assets/saving.png
build/web/assets/assets/Screenshot_20220102-230458_myCuaca.jpg
build/web/assets/assets/Subscribe%20-%2041554.mp4
build/web/assets/assets/teams_1.4.00.26453_amd64.deb
build/web/assets/assets/volunteer.png
build/web/assets/assets/weather.png
build/web/assets/assets/WhatsApp%20Image%202022-01-04%20at%201.43.34%20PM.jpeg
build/web/assets/fonts/MaterialIcons-Regular.otf
build/web/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/web/assets/packages/flutter_inappwebview/t_rex_runner/t-rex.css
build/web/assets/packages/flutter_inappwebview/t_rex_runner/t-rex.html
build/web/assets/packages/font_awesome_flutter/lib/fonts/fa-brands-400.ttf
build/web/assets/packages/font_awesome_flutter/lib/fonts/fa-regular-400.ttf
build/web/assets/packages/font_awesome_flutter/lib/fonts/fa-solid-900.ttf
build/web/assets/packages/youtube_player_flutter/assets/speedometer.webp
build/web/canvaskit/canvaskit.js
build/web/canvaskit/canvaskit.wasm
build/web/canvaskit/profiling/canvaskit.js
build/web/canvaskit/profiling/canvaskit.wasm
build/web/icons/Icon-192.png
build/web/icons/Icon-512.png
build/web/icons/Icon-maskable-192.png
build/web/icons/Icon-maskable-512.png
.flutter-plugins-dependencies
.packages
