.dart_tool/
build/

.flutter-plugins
.flutter-plugins-dependencies
.packages
.flutter-plugins-dependencies
.packages
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
.dart_tool/version
.dart_tool/package_config.json
.dart_tool/package_config_subset
.packages
.flutter-plugins-dependencies
